<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-init-method="defaultInit"
       default-destroy-method="defaultDestroy">

    <!-- bean definitions here -->
        <bean id="car" class="it.academy.homework5.beans.Car" factory-method="getInstance">
            <property name="name" value="BMW"/>
            <property name="year" value="2020"/>
        </bean>
</beans>